<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Pawfect_Match_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>box.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>box.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>box.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>box.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>box.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>handleProducts</display-name>
    <servlet-name>handleProducts</servlet-name>
    <servlet-class>box.handleProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleProducts</servlet-name>
    <url-pattern>/handleProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>handleCard</display-name>
    <servlet-name>handleCard</servlet-name>
    <servlet-class>box.handleCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleCard</servlet-name>
    <url-pattern>/handleCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>box.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>box.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>box.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeCard</display-name>
    <servlet-name>removeCard</servlet-name>
    <servlet-class>box.removeCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeCard</servlet-name>
    <url-pattern>/removeCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>handleReceipts</display-name>
    <servlet-name>handleReceipts</servlet-name>
    <servlet-class>box.handleReceipts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleReceipts</servlet-name>
    <url-pattern>/handleReceipts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adopt</display-name>
    <servlet-name>Adopt</servlet-name>
    <servlet-class>box.Adopt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adopt</servlet-name>
    <url-pattern>/Adopt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>handleAnimals</display-name>
    <servlet-name>handleAnimals</servlet-name>
    <servlet-class>box.handleAnimals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleAnimals</servlet-name>
    <url-pattern>/handleAnimals</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnimalServlet</display-name>
    <servlet-name>AnimalServlet</servlet-name>
    <servlet-class>box.AnimalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalServlet</servlet-name>
    <url-pattern>/AnimalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editAnimal</display-name>
    <servlet-name>editAnimal</servlet-name>
    <servlet-class>box.editAnimal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAnimal</servlet-name>
    <url-pattern>/editAnimal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recover</display-name>
    <servlet-name>Recover</servlet-name>
    <servlet-class>box.Recover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recover</servlet-name>
    <url-pattern>/Recover</url-pattern>
  </servlet-mapping>
</web-app>